<!DOCTYPE html>
<html>

<head>
    <title>SLUT Token - Simple Lightweight Usable Token</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Simple Lightweight Usable Token">
    <meta property="og:url" content="http://www.sluttoken.com/">
    <meta property="og:image" content="http://www.sluttoken.com/assets/images/sluttoken_background.png">
    <meta property="og:image:width" content="500">
    <meta property="og:image:height" content="500">
    <meta property="og:description" content="Simple Lightweight Usable Token is an ERC20 Token that is built with the porn industry in mind.">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Princess+Sofia|Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link rel="stylesheet" href="https://i.icomoon.io/public/temp/9bb1c7f4b6/UntitledProject/style.css">
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107703749-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-107703749-1');
    </script>
</head>

<body>
    <header class="navbar fixed-top navbar-expand-md navbar-dark flex-column flex-md-row bg-info">
        <div class="container">
            <a class="navbar-brand" href="#">SLUT <span style="font-family: 'Open Sans Condensed'">Token</span></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto" style="font-family: 'Open Sans Condensed';">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                
            </div>
                <ul class="navbar-nav ml-auto flex-row">
                    <li class="nav-item">
                        <a class="nav-link icon-twitter"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link icon-github"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link icon-reddit"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link icon-slack"></a>
                        <!--<sub>coming soon</sub>-->
                    </li>
                </ul>
        </div>
    </header>
    <div class="jumbotron" style="margin-top: 59px;">
        <div id="particles-js" class="d-none d-lg-block" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 2;"></div>
        <div class="content"></div>
            <div class="container text-center" style="margin-bottom: 2em; color: white;">
                <h1 class="big-text">SLUT <span>Token</span></h1>
                <div class="row">
                <div class="col-md-8 offset-md-2">
                    <hr class="jumbotron-hr">
                        <p>Simple Lightweight Usable Token</p>
                    <hr class="jumbotron-hr">
                </div>
            </div>
            </div>
            
        <a href="#" class="read-more" style="margin-left: -15px; z-index: 3;"><div>White Paper</div></a>
    </div>
    <section>
        <div class="container" style="margin-top: 5em; margin-bottom: 2em;">
            <div class="row">
                <div class="col-lg-4">
                    <p class="h1">Everyone loves SLUTs</p>
                </div>
                <div class="col-md-6 col-lg-4">
                    <p>
                        Let's be honest—everyone's tired of ICOs. They get hyped up for weeks, and then they
                        launch and clog up the Ethereum network for days, Coinbase goes down for a while, and then
                        “investors” see the new tokens lose most of their “value”. This ICO
                        is going to be different.
                    </p>
                </div>
                <div class="col-md-6 col-lg-4">
                    <p>
                        The UET ICO <em>transparently</em> offers investors no value, so there will be no expectation
                        of gains. No gains means few investors, few investors means few transactions, and few
                        transactions means no Ethereum network lag—not to mention no depressing posts on
                        /r/ethtrader about people losing all their savings!
                    </p>
                </div>
            </div>
            <!--<h1 style="text-align: center; margin-top: 2em;">Roadmap</h1>
            <div class="row">
                <div class="col-md-6">
                    <h1 class="text-center">Wallet</h1>
                    <div id="area"></div>
                    <div id="area2"></div>
                    <div id="area3"></div>
                </div>
                <div class="col-md-6">
                    <h1 class="text-center">Send Coins</h1>
                    <label>address<input type="text" id="address" /></label>
                    <label>amount<input type="text" id="amount" /></label>
                    <button id="sendButton">Send</button>
                </div>
            </div>-->
        </div>
    </section>
    <section style="background: #d0d0d0;">
        
        <div class="container">
            <h2 class="mb-4">How to contribute</h2>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="lead">The crowdsale begins on:</p>
                    <p class="h1">July 4<sup>th</sup>, 2017 <small><span class="text-muted">at</span></small> 2:00 P.M. UTC</p>
                    <p class="text-muted"><small>(don't worry, I set a reminder on my iPhone)</small></p>
                    <hr />
                    <p>and will run until:</p>
                    <p class="h3">July 11<sup>th</sup>, 2017 <small><span class="text-muted">at</span></small> 2:00 P.M. UTC</p>
                    <p class="text-muted"><small>(or until I feel like ending it)</small></p>
                </div>
                <!--<div class="col-lg-6">
                    <div class="card card-inverse card-primary bg-info">
                        <div class="card-block">
                            <h4 class="card-title">Token contract and generator</h4>
                            <h6 class="card-subtitle mb-2">(this is how you're going to send me my spending money)</h6>
                            <hr class="jumbotron-hr" />
                            <p class="card-text text-white">
                                To participate in the UET ICO, just send as much Ether as you want to the UET token/crowdsale
                                contract. Make sure you provide enough gas for the transaction&mdash;100,000 or so ought to do it.
                            </p>
                            <p class="card-text text-white text-center" style="word-break: break-all;"><small><strong>
                                0x27f706edde3aD952EF647Dd67E24e38CD0803DD6
                            </strong></small></p>
                            <div class="text-center">
                                View on <a class="text-white" href="https://etherscan.io/address/0x27f706edde3aD952EF647Dd67E24e38CD0803DD6" target="_blank">Etherscan</a>
                                or <a class="text-white" href="https://etherchain.org/account/0x27f706edde3aD952EF647Dd67E24e38CD0803DD6" target="_blank">etherchain</a>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </section>
    <section class="newsletter text-center home-header ng-scope" id="newsletter">
  <div class="container">
    <div class="row">
      <div ng-show="showNewsletterForm==1">
        <!-- SignIn -->
        <div class="col-md-10 col-md-offset-1 text-center" ng-show="show==1">
          <h1>CoinPennant</h1>
          <p translate=""><span class="ng-scope">Be part of our program by Sign up &amp; Invite Friends. You can earn CPT Tokens.</span></p>
          <span class="small-program-desc" translate=""><span class="ng-scope">When a friend signs up using your unique link, you get 50 CPT Tokens + 5% of the CPT Tokens they buy,</span><br class="ng-scope"><span class="ng-scope">and they get an extra 15% bonus when they buy CPT Tokens.</span></span>
          <div class="row">
            <div class="col-md-12 down">
              <div class="row">
                <div class="col-md-12 col-xs-6">
                  <form class="form-inline ng-pristine ng-valid-email ng-invalid ng-invalid-required ng-valid-maxlength ng-valid-minlength ng-valid-pattern" name="signInForm" ng-submit="signIn(signInForm.$valid)" novalidate="">
                    <div ng-hide="message == ''" class="newsletter-errors">
                      <span ng-bind-html="message | webSiteTrustAsHtml" class="ng-binding"></span>
                    </div>
                    <div class="newsletter-errors">
                      <span ng-show="signInForm.email.$invalid &amp;&amp; !signInForm.email.$pristine" translate="" class="ng-hide"><span class="ng-scope">Enter a valid email.</span></span>
                      <span ng-show="signInForm.email.$error.maxlength" translate="" class="ng-hide"><span class="ng-scope">The Email can be max 200 characters long.</span></span>
                      <span ng-show="signInForm.password.$error.minlength" translate="" class="ng-hide"><span class="ng-scope">The Password must be at least 6 characters long.</span></span>
                      <span ng-show="signInForm.password.$error.maxlength" translate="" class="ng-hide"><span class="ng-scope">The Password can be max 20 characters long.</span></span>
                    </div>
                    <div class="form-group">
                      <input type="email" name="email" class="textbox ng-pristine ng-untouched ng-valid-email ng-invalid ng-invalid-required ng-valid-maxlength" placeholder="Valid Email" maxlength="200" ng-model="signInData.email" required="">
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" class="textbox ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength" placeholder="Password" maxlength="200" ng-model="signInData.password" ng-minlength="6" ng-maxlength="20" required="">
                    </div>
                    <div class="form-group">
                      <input type="text" id="validationCode" value="" ng-model="signInData.validationCode" class="hide ng-pristine ng-untouched ng-valid ng-valid-pattern">
                    </div>
                    <div class="form-group">
                      <button type="submit" name="button" class="button" style="border-top-right-radius: 6px; background: #2774b7;
                                   border-bottom-right-radius: 6px;" ng-disabled="signInForm.$invalid" translate="" disabled="disabled"><span class="ng-scope">Sign In</span></button>
                    </div>
                  </form>
                </div>
                <div class="row">
                  <div class="col-md-12 col-xs-6 text-center down2">
                    <span class="program-links"><span translate=""><span class="ng-scope">New user?</span></span> <a href="" ng-click="show = 2; message = ''" translate=""><span class="ng-scope">Sign Up first</span></a>
                    <br><span translate=""><span class="ng-scope">Forgot your password?</span></span> <a href="" ng-click="show = 3; message = ''" translate=""><span class="ng-scope">Click here</span></a></span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-xs-6 text-center">
                    <div class="iconss text-center hidden-xs hidden-sm">
                      <a href="http://fb.me/CoinPennantProject" target="_blank"><i id="ico1" class="fa fa-facebook" aria-hidden="true"></i></a>
                      <a href="https://twitter.com/coinpennantdev" target="_blank"><i id="ico2" class="fa fa-twitter" aria-hidden="true"></i></a>
                      <a href="mailto:info@coinpennant.com" target="_blank"><i id="ico3" class="fa fa-envelope" aria-hidden="true"></i></a>
                      <a href="https://coinpennant.herokuapp.com" target="_blank"><i id="ico4" class="fa fa-slack" aria-hidden="true"></i></a>
                      <a href="https://youtu.be/XH-IwF8RVOU" target="_blank"><i id="ico5" class="fa fa-youtube-play" aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End SignIn -->
        <!-- SignUp -->
        <div class="col-md-10 col-md-offset-1 text-center ng-hide" ng-show="show==2">
          <h1>CoinPennant</h1>
          <p translate=""><span class="ng-scope">Be part of our program by Sign up &amp; Invite Friends. You can earn CPT Tokens.</span></p>
          <span class="small-program-desc" translate=""><span class="ng-scope">When a friend signs up using your unique link, you get 50 CPT Tokens + 5% of the CPT Tokens they buy,</span><br class="ng-scope"><span class="ng-scope">and they get an extra 15% bonus when they buy CPT Tokens.</span></span>
          <p style="padding-top: 15px;" translate=""><span class="ng-scope">Get 50 CPT when you sign up &amp; verify your email.</span></p>
          <div class="row">
            <div class="col-md-12 down">
              <div class="row">
                <div class="col-md-12 col-xs-6">
                  <form class="form-inline ng-pristine ng-valid-email ng-invalid ng-invalid-required ng-valid-maxlength ng-valid-minlength ng-invalid-recaptcha" name="signUpForm" ng-submit="signUp(signUpForm.$valid)" novalidate="">
                    <div ng-hide="message == ''" ng-class="(savedSuccessfully) ? 'newsletter-success' : 'newsletter-errors'" class="newsletter-errors">
                      <span ng-bind-html="message | webSiteTrustAsHtml" class="ng-binding"></span>
                    </div>
                    <div class="newsletter-errors">
                      <span ng-show="signUpForm.email.$invalid &amp;&amp; !signUpForm.email.$pristine" translate="" class="ng-hide"><span class="ng-scope">Enter a valid email.</span></span>
                      <span ng-show="signUpForm.email.$error.maxlength" translate="" class="ng-hide"><span class="ng-scope">The Email can be max 200 characters long.</span></span>
                      <span ng-show="signUpForm.password.$error.minlength" translate="" class="ng-hide"><span class="ng-scope">The Password must be at least 6 characters long.</span></span>
                      <span ng-show="signUpForm.password.$error.maxlength" translate="" class="ng-hide"><span class="ng-scope">The Password can be max 20 characters long.</span></span>
                    </div>
                    <div class="form-group">
                      <input type="email" name="email" class="textbox ng-pristine ng-untouched ng-valid-email ng-invalid ng-invalid-required ng-valid-maxlength" placeholder="Valid Email" maxlength="200" ng-model="signUpData.email" required="">
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" class="textbox ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength" placeholder="Password" maxlength="200" ng-model="signUpData.password" ng-minlength="6" ng-maxlength="20" required="">
                    </div>
                    <div class="form-group">
                      <button type="submit" name="button" class="button" style="border-top-right-radius: 6px; background: #2774b7;
                                   border-bottom-right-radius: 6px;" ng-disabled="signUpForm.$invalid" translate="" disabled="disabled"><span class="ng-scope">Sign Up</span></button>
                    </div>
                    <div class="subscribe-checkbox col-md-12 text-center">
                      <input type="checkbox" checked="checked" name="isSubscribed" ng-true-value="true" ng-false-value="false" ng-model="signUpData.isSubscribed" ng-init="isSubscribed=true" ng-checked="true" translate="" class="ng-pristine ng-untouched ng-valid"> Subscribe to newsletter
                    </div>
                    <div>
                      <div class="captcha-wrapper" style="display: block;">
                        <p class="captcha-header" translate=""><span class="ng-scope">Solve the CAPTCHA to complete registration.</span></p>
                        <div>
                          <span id="reCaptcha" class="captcha">
                            <div style="width: 304px; height: 78px; display: block;">
                              <div vc-recaptcha="" key="'6LcgijMUAAAAAF-BjuI1PO5zFMN_5s3ytNpe2Fyx'" on-create="setWidgetId(widgetId)" on-success="setResponse(response)" on-expire="cbExpiration()" class="ng-isolate-scope"><div style="width: 304px; height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?k=6LcgijMUAAAAAF-BjuI1PO5zFMN_5s3ytNpe2Fyx&amp;co=aHR0cHM6Ly9jb2lucGVubmFudC5jb206NDQz&amp;hl=en&amp;v=r20171003155951&amp;size=normal&amp;cb=fmv8vav6l9rz" title="recaptcha widget" width="304" height="78" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;  display: none; "></textarea></div></div>
                            </div>
                          </span>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="row">
                  <div class="col-md-12 col-xs-6 text-center down2">
                    <span class="program-links"><span translate=""><span class="ng-scope">Already have an account?</span></span> <a href="" ng-click="show = 1; message = ''" translate=""><span class="ng-scope">Sign In here</span></a>
                    <br><span translate=""><span class="ng-scope">Forgot your password?</span></span> <a href="" ng-click="show = 3; message = ''" translate=""><span class="ng-scope">Click here</span></a></span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-xs-6 text-center">
                    <div class="iconss text-center hidden-xs hidden-sm">
                      <a href="http://fb.me/CoinPennantProject" target="_blank"><i id="ico1" class="fa fa-facebook" aria-hidden="true"></i></a>
                      <a href="https://twitter.com/coinpennantdev" target="_blank"><i id="ico2" class="fa fa-twitter" aria-hidden="true"></i></a>
                      <a href="mailto:info@coinpennant.com" target="_blank"><i id="ico3" class="fa fa-envelope" aria-hidden="true"></i></a>
                      <a href="https://coinpennant.herokuapp.com" target="_blank"><i id="ico4" class="fa fa-slack" aria-hidden="true"></i></a>
                      <a href="https://youtu.be/XH-IwF8RVOU" target="_blank"><i id="ico5" class="fa fa-youtube-play" aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End SignUp -->
        <!-- Forget password -->
        <div class="col-md-10 col-md-offset-1 text-center ng-hide" ng-show="show==3">
          <h1>CoinPennant</h1>
          <p translate=""><span class="ng-scope">Be part of our program by Sign up &amp; Invite Friends. You can earn CPT Tokens.</span></p>
          <span class="small-program-desc" translate=""><span class="ng-scope">When you fill in your registered email address,</span><br class="ng-scope"><span class="ng-scope">you will be sent instructions on how to reset your password.</span></span>
          <div class="row">
            <div class="col-md-12 down">
              <div class="row">
                <div class="col-md-12 col-xs-6">
                  <form class="form-inline ng-pristine ng-valid-email ng-invalid ng-invalid-required ng-valid-maxlength ng-valid-pattern" name="forgetPasswordForm" ng-submit="forgetPassword(forgetPasswordForm.$valid)" novalidate="">
                    <div ng-hide="message == ''" ng-class="(forgetPasswordEmailSendSuccessfully) ? 'newsletter-success' : 'newsletter-errors'" class="newsletter-errors">
                      <span ng-bind-html="message | webSiteTrustAsHtml" class="ng-binding"></span>
                    </div>
                    <div class="newsletter-errors">
                      <span ng-show="forgetPasswordForm.email.$invalid &amp;&amp; !forgetPasswordForm.email.$pristine" translate="" class="ng-hide"><span class="ng-scope">Enter a valid email.</span></span>
                      <span ng-show="forgetPasswordForm.email.$error.maxlength" translate="" class="ng-hide"><span class="ng-scope">The Email can be max 200 characters long.</span></span>
                    </div>
                    <div class="form-group">
                      <input type="email" name="email" class="textbox ng-pristine ng-untouched ng-valid-email ng-invalid ng-invalid-required ng-valid-maxlength" placeholder="Valid Email" maxlength="200" ng-model="forgetPasswordData.email" required="">
                    </div>
                    <div class="form-group">
                      <input type="text" id="validationCode" value="" ng-model="forgetPasswordData.validationCode" class="hide ng-pristine ng-untouched ng-valid ng-valid-pattern">
                    </div>
                    <div class="form-group">
                      <button type="submit" name="button" class="button" style="border-top-right-radius: 6px; background: #2774b7;
                                   border-bottom-right-radius: 6px;" ng-disabled="forgetPasswordForm.$invalid" translate="" disabled="disabled"><span class="ng-scope">Reset Password</span></button>
                    </div>
                  </form>
                </div>
                <div class="row">
                  <div class="col-md-12 col-xs-6 text-center down2">
                    <span class="program-links"><span translate=""><span class="ng-scope">Already have an account?</span></span> <a href="" ng-click="show = 1; message = ''" translate=""><span class="ng-scope">Sign In here</span></a>
                    <br><span translate=""><span class="ng-scope">New user?</span></span> <a href="" ng-click="show = 2; message = ''" translate=""><span class="ng-scope">Sign Up first</span></a></span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-xs-6 text-center">
                    <div class="iconss text-center hidden-xs hidden-sm">
                      <a href="http://fb.me/CoinPennantProject" target="_blank"><i id="ico1" class="fa fa-facebook" aria-hidden="true"></i></a>
                      <a href="https://twitter.com/coinpennantdev" target="_blank"><i id="ico2" class="fa fa-twitter" aria-hidden="true"></i></a>
                      <a href="mailto:info@coinpennant.com" target="_blank"><i id="ico3" class="fa fa-envelope" aria-hidden="true"></i></a>
                      <a href="https://coinpennant.herokuapp.com" target="_blank"><i id="ico4" class="fa fa-slack" aria-hidden="true"></i></a>
                      <a href="https://youtu.be/XH-IwF8RVOU" target="_blank"><i id="ico5" class="fa fa-youtube-play" aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Forget password -->
      </div>
      <!-- UserInfo -->
      <div ng-show="showUserInfo==1" class="ng-hide">
        <div class="col-md-12 text-center">
          <h1>CoinPennant</h1>
          <p translate=""><span class="ng-scope">Copy the link and send it to all your friends who you want to invite. Now you can earn CPT Tokens.</span></p>
          <div class="ref-link ng-binding">
            https://coinpennant.com/?ref=
          </div>
          <div class="iconss text-center">
            <i id="ico1" class="fa fa-facebook" aria-hidden="true"></i>
            <a href="https://twitter.com/intent/tweet?text=Just signed up for CPT, the Buddha Token. Sign up %26 earn 50 CPT tokens. @bdtofficial %23bitcoin&amp;url=https://coinpennant.com/?ref=" target="_blank"><i id="icou2" class="fa fa-twitter" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="balance-info2">
          <div class="row">
            <div class="col-xs-6 col-sm br">
              <p class="info-label" translate=""><span class="ng-scope">Friends Joined</span></p>
              <p class="info-value ng-binding"></p>
            </div>
            <div class="col-xs-6 col-sm">
              <p class="info-label" translate=""><span class="ng-scope">Your Balance (CPT)</span></p>
              <p class="info-value ng-binding"></p>
            </div>
          </div>
        </div>
      </div>
      <!-- End UserInfo -->
      <subscription-counter class="ng-isolate-scope"><div class="ico-stats text-center" ng-show="subscriptionNumber != ''">
  <div class="col-md-12 text-center subscribed-number">
    <span><strong class="ng-binding">4405</strong> <span translate=""><span class="ng-scope">people have signed up for CPT.</span></span></span>
  </div>
</div>
</subscription-counter>
      <p ng-show="showUserInfo==1" class="user-info2 text-center ng-binding ng-hide"><span translate=""><span class="ng-scope">Signed in as</span></span> <strong class="ng-binding"></strong> (). <a id="sign-out" href="" ng-click="signOut()" translate=""><span class="ng-scope">Sign Out</span></a></p>
    </div>
  </div>
</section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="mb-4">Token distribution</h2>
                    <p class="lead">
                        The more Ether <em>everyone</em> contributes, the more tokens <em>you</em> get.
                    </p>
                    <p>
                        The base token distribution formula is very simple: for every <strong>1 ETH</strong> you
                        contribute, you'll receive <strong>100 UET</strong>, and if you contribute at least
                        <strong>0.01 ETH</strong>, you'll also receive an additional <strong>1 UET</strong> for every
                        Ether that's been contributed in total. Like this:
                    </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Transaction</th>
                                <th class="text-right">Ether sent</th>
                                <th class="text-right">Total Ether sent</th>
                                <th class="text-right">UET received</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>#1</td>
                                <td class="text-right">1.000&nbsp;<small>ETH</small></td>
                                <td class="text-right">1.000&nbsp;<small>ETH</small></td>
                                <td class="text-right">101.000&nbsp;<small>UET</small></td>
                            </tr>
                            <tr>
                                <td>#2</td>
                                <td class="text-right">3.000&nbsp;<small>ETH</small></td>
                                <td class="text-right">4.000&nbsp;<small>ETH</small></td>
                                <td class="text-right">304.000&nbsp;<small>UET</small></td>
                            </tr>
                            <tr>
                                <td>#3</td>
                                <td class="text-right">0.005&nbsp;<small>ETH</small></td>
                                <td class="text-right">4.005&nbsp;<small>ETH</small></td>
                                <td class="text-right">0.500&nbsp;<small>UET</small></td>
                            </tr>
                            <tr>
                                <td>#4</td>
                                <td class="text-right">0.500&nbsp;<small>ETH</small></td>
                                <td class="text-right">4.505&nbsp;<small>ETH</small></td>
                                <td class="text-right">54.505&nbsp;<small>UET</small></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <h2 class="mb-4">Bonus tokens!</h2>
                    <p class="lead">
                        Every block has a 1 in 256 chance of issuing bonus tokens.
                    </p>
                    <p>
                        When purchasing UET, the smart contract will take a hash of the current block's coinbase,
                        number, and timestamp. If the first byte of the hash is 0x00, the block becomes a <em>bonus block</em>.
                        During a bonus block, the smart contract counts the number of bits set in the second byte of the
                        hash and uses that number as a bonus multiplier.
                    </p>
                    <p>
                        Every UET purchase of at least <strong>0.01 ETH</strong> worth during the bonus block will receive, in
                        addition to the base distribution, an <strong>additional 100 UET</strong> per Ether multiplied
                        by the bonus multiplier. That means that contributors have a chance of receiving a total of
                        <em>nine times</em> the number of tokens they expected!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="assets/particles.js"></script>
    <script>
        particlesJS.load('particles-js', 'assets/particles.json', function() {
            console.log('callback - particles.js config loaded');
        });
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>

</html>
